
/* Footer css for social icons */

.socialContainer {
    width: 30px;
    height:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30%;
    margin-bottom: 6px;
    overflow: hidden;
    transition-duration: .3s;
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
  }
  /* twitter*/
  .containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
  }
  /* linkdin*/
  .containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
  }
  /* Whatsapp*/
  .containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  
  .socialSvg {
    width: 17px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }


  /* Gallery CSS */

/* Styles for the black and white effect by default */
.grayscale {
  filter: grayscale(100%);
  transition: filter 0s ease-in-out;  }

/* Styles for the original color effect on hover */
.grayscale:hover {
  filter: grayscale(0%);
}


.card-inner {
  width: inherit;
  height: inherit;
  background: rgba(255,255,255,.05);
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  backdrop-filter: blur(10px);
  border-radius: 8px;
}

.card-div{
  width: 250px; 
  height: 340px;
  transition: all 0.2s;
  position: relative;
  cursor: pointer;
}


/* Team Page */

*{
  margin:0;
  padding: 0%;
  box-sizing: border-box;
}

@font-face {
  font-family: ROG;
  src: url(./assets/font/ROG.ttf);
}
.rog{
  font-family: ROG;
}

.custom-bg {
  background-color: #222323;
}

.pic-bg{
   background-color: #151414;
}
.projectcard-bg{
   background-color: rgba(34, 35, 35, 5);
}


@font-face {
  font-family: orbit;
  src: url(./assets/font/orbit.ttf);
}

.orbit{
  font-family: orbit;
}


.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
}

.card {
  width: 100vw; /* Adjust the width of the card as needed */
  height: 400px; /* Adjust the height of the card as needed */
  border: 1px solid #ccc; /* Example border for the card */
  border-radius: 8px; /* Optional: Round the corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  background-color: black;/* Optional: Add a shadow */
}
